.pageHeader {
  height: 300px;
  width: 100%;
  padding-top: 80px;
  background-image: url(../img/banner.png);
  background-size: cover;
}

.pageHeader h1 {
  font-family: "Carter One", cursive;
  margin-left: 50px;
  color: #98ff10;
  text-shadow: 0px 0px 10px black;
}

.container {
  background-color: #c4f8c4;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  color: #725454;
}

#artikel h4 {
  font-weight: bold;
}

#artikel article > p {
  text-indent: 50px;
  text-align: justify;
}

.footer {
  background-color: black;
  color: lightblue;
  font-size: 10px;
  text-align: center;
  font-style: italic;
  padding: 10px 10px;
}
/*# sourceMappingURL=mitratani.css.map */