// variables
// Fonts
$allCapsFont    : 'Carter One', cursive;
$sentenceFont   : 'Comfortaa', cursive;
// Colors
$yellowGreen    : #98ff10;
$ijotipis       : #c4f8c4;
$cokaltgelap    : #725454;

// pageHeader
.pageHeader{
    height: 300px;
    width: 100%;
    padding-top: 80px;
    background-image: url(../img/banner.png);
    background-size: cover;
    h1{
        font-family: $allCapsFont;
        margin-left: 50px;
        color: $yellowGreen;
        text-shadow: 0px 0px 10px black;
    }
}

// container
.container {
    background-color: $ijotipis;
    font-family: $sentenceFont;
    font-size: 16px;
    color: $cokaltgelap;
}

#artikel {
    h4 { font-weight: bold;}
    article > p {
        text-indent: 50px;
        text-align: justify;
    }
}

// footer
.footer{
    background-color: black;
    color:lightblue;
    font-size: 10px;
    text-align: center;
    font-style: italic;
    padding:10px 10px;
}